
                .artboard{width:700px; padding:100px auto;background:#7BA7FF}
                header{font-size:25px;background:#7BA7FF;color:white;margin:0 auto;text-align: center;padding-right:50px;padding-left:50px;padding-top:20px;padding-bottom:20px;text-align: center}
                section{background: #EFF7FF;word-break:keep-all;padding-top: 0;padding-bottom: 50px;}
                body{background: #EFF7FF;}
               .wrap{font-size:10px;background: #EFF7FF;color:#2535A8;width:900px;margin:0 auto;text-align: center;padding-right:50px;padding-left:50px;padding-left:50px;padding-top:20px;padding-bottom:50px;}
                h1{word-break:keep-all;padding-top:500px;padding-bottom:50px;font-size:50px;line-height:30px;
                        text-align: center;}
                h2{word-break:keep-all;padding-top:50px;padding-bottom:0px;font-size:50px;line-height:0px;
                        text-align: center;word-break:keep-all}
                h3{word-break:keep-all;padding-top:50px;padding-bottom:0px;font-size:50px;line-height:70px;
                        text-align: center;word-break:keep-all}
                h4{word-break:keep-all;padding-top:0px;padding-bottom:150px;font-size:50px;line-height:70px;
                        text-align: center;}
                p{word-break:keep-all;font-size:30px;padding-top:0px;padding-bottom:120px;line-height:45px;}
                footer{font-size: 20px;background:#7BA7FF;color:white;width:100%;padding-top:50px;padding-bottom:50px;padding-left:50px;padding-right:0px;text-align: center;}
                nav{padding-top: 50px;padding-left: 0px;padding-right: 0px;
                        padding-bottom: 50px;width: 100%;}
         

                .a{padding-top: 50px;padding-left: 25px;padding-right: 25px;
                        padding-bottom: 50px;width: 100%;}
                .a{font-size: 50px;padding-top: 5px;padding-left: 25px;padding-right: 25px;
                        padding-bottom: 50px;width: 100%;}
                .a{font-size: 50px;padding-top: 5px;padding-left: 25px;padding-right: 25px;
                        padding-bottom: 50px;width: 100%;}
                .a{font-size: 50px;padding-top: 5px;padding-left: 25px;padding-right: 25px;
                        padding-bottom: 00px;width: 100%;}
                
                .a{    font-size: 30px;
                        line-height:30px;
                        color: white;
                        background:linear-gradient(to bottom, #0C0037, #2A1A63);
                        padding-top: 100px;padding-left: 100px;padding-right: 100px;
                        padding-bottom: 250px;width: 100%;
                        width:900px;
                        text-align: center;
                }
                .flex{display: flex;}
                .img{width:100%;}